#the-tab {}
#the-tab > nav {
	font-size: 0;
	padding: 4px;
}
#the-tab > nav a {
	background-color: #eee;
	border: solid 1px #666;
	border-bottom-style: none;
	border-radius: 4px 4px 0 0;
	font-size: 16px;
	padding: 4px 8px;
	margin-right: 1px;
}
#the-tab > nav a.is-active {
	background-color: #fff;
	border-bottom: #fff 1px solid;
	padding-bottom: 5px;
	position: relative;
	top: -1px;
}
#the-tab > article {
	display: none;
	border: solid 1px #666;
}
#the-tab > article.is-active {
	display: block;
}

.item-image {
	font-size: 200px;
	margin: 0;
	text-align: center;
}
